<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body th:object="${contact}">
    <h1>Your contact information</h1>
    <p>ID: <span th:text="*{id}"></span></p>
    <p>Name: <span th:text="*{name}"></span></p>
    <p>Email: <span th:text="*{email}"></span></p>
    <p>Phone No: <span th:text="*{phoneNum}"></span></p>
</body>
</html>